.underChild {
  position: absolute;
  top: 410px;
  left: 0;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--gray-21);
  box-shadow: 0-24px 16px rgba(30, 30, 42, 0.08);
  width: 1440px;
  height: 1072px;
}
.groupIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconicon2Coin {
  width: 78px;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  position: absolute;
  top: calc(50% - 14px);
  left: 16px;
  line-height: 28px;
  font-weight: 600;
}
.tableCelladditionalComponen {
  position: relative;
  width: 172px;
  height: 48px;
  flex-shrink: 0;
}
.top {
  width: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b,
.wethApr {
  position: relative;
  line-height: 36px;
}
.wethApr {
  font-size: var(--paragraph-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--paragraph-regular);
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b1 {
  position: relative;
  font-size: var(--headline-h4-size);
  line-height: 42px;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--headline-h5-size);
  font-family: var(--headline-h3);
}
.caption {
  position: relative;
  line-height: 18px;
}
.mbListItemitemLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconftr {
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mbListItemitemRight {
  justify-content: flex-end;
}
.mbListItemBasic,
.mbListItemitemRight,
.mbListItemitemRight1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mbListItemBasic {
  align-self: stretch;
  background-color: var(--transparent);
  padding: var(--padding-9xs) 0;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mbListItemitemRight1 {
  width: 49px;
  flex-shrink: 0;
  justify-content: flex-end;
  text-align: right;
  color: var(--white);
}
.icongift {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.mbListItemitemRight4 {
  width: 73px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: right;
  color: var(--white);
}
.mbListItemBasicParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--caption-small-12-16-regular-size);
  color: var(--gray-10);
}
.text {
  position: relative;
  line-height: 24px;
}
.btn {
  cursor: pointer;

  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-5);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.bottom,
.cardmining {
  display: flex;
  justify-content: flex-start;
}
.bottom {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--title-2-size);
}
.cardmining {
  border-radius: var(--br-5xl);
  background-color: var(--gray-20);
  box-shadow: 12px 24px 80px rgba(30, 30, 42, 0.08);
  width: 342px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
}
.b7 {
  position: relative;
  font-size: var(--headline-h4-size);
  line-height: 42px;
  display: none;
}
.parent2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bottom2 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--title-2-size);
}
.bottom2,
.row1,
.row11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row11 {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.row1 {
  flex-direction: column;
}
.groupIcon4 {
  position: relative;
  width: 39px;
  height: 24px;
  flex-shrink: 0;
}
.iconicon2Coin4 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.btn6,
.btn7,
.content {
  display: flex;
  align-items: center;
}
.content {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.btn6,
.btn7 {
  flex: 1;
  border-radius: var(--br-xs);
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  justify-content: center;
}
.btn6 {
  border: 1px solid var(--primary-5);
}
.btn7 {
  background-color: var(--primary-5);
  color: var(--white);
}
.bottom4,
.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--title-2-size);
  color: var(--primary-5);
}
.card {
  position: absolute;
  top: 538px;
  left: 182px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.b15,
.provideLiquidityEarn {
  position: relative;
  line-height: 42px;
}
.b15 {
  font-size: var(--headline-h3-size);
  line-height: 56px;
  color: var(--primary-5);
}
.numberParent,
.texttext,
.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.texttext {
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--gray-10);
}
.numberParent,
.title {
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--paragraph-regular-size);
  font-family: var(--paragraph-regular);
}
.title {
  position: absolute;
  top: 128px;
  left: 183px;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--headline-h4-size);
  font-family: var(--headline-h3);
}
.iconsearch,
.label {
  position: absolute;
  top: calc(50% - 12px);
}
.label {
  left: 48px;
  line-height: 24px;
}
.iconsearch {
  left: 16px;
  width: 24px;
  height: 24px;
}
.input {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--transparent);
  border: 1px solid var(--gray-18);
  box-sizing: border-box;
  width: 344px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
}
.btn8,
.search {
  display: flex;
  flex-direction: row;
}
.btn8 {
  border-radius: var(--br-base);
  background-color: var(--primary-5);
  width: 154px;
  flex-shrink: 0;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--title-2-size);
  color: var(--white);
}
.search {
  position: absolute;
  top: 290px;
  left: 183px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--paragraph-regular-size);
  color: var(--gray-10);
}
.tab {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.tabItemstyle2Itemmedium {
  border-radius: var(--br-xs);
  background-color: var(--white);
  flex-direction: row;
  color: var(--primary-5);
}
.tabItemstyle2Itemmedium,
.tabItemstyle2Itemmedium1 {
  flex: 1;
  display: flex;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.tabItemstyle2Itemmedium1,
.tabItemstyle2Itemmedium2,
.tabsStyle2 {
  border-radius: var(--br-xs);
  background-color: var(--gray-18);
  flex-direction: row;
}
.tabItemstyle2Itemmedium2 {
  flex: 1;
  display: none;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.tabsStyle2 {
  width: 281px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nobIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.switch,
.switch1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.switch1 {
  border-radius: var(--br-981xl);
  background-color: var(--gray-18);
  padding: var(--padding-9xs) var(--padding-17xl) var(--padding-9xs)
    var(--padding-9xs);
  align-items: flex-start;
}
.switch {
  align-items: center;
  gap: var(--gap-base);
}
.iconiconarrowDown,
.label1 {
  position: absolute;
  top: calc(50% - 12px);
}
.label1 {
  left: 16px;
  line-height: 24px;
  font-weight: 600;
}
.iconiconarrowDown {
  right: 16px;
  width: 24px;
  height: 24px;
}
.dropdown {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--transparent);
  border: 1px solid var(--gray-18);
  box-sizing: border-box;
  width: 221px;
  height: 40px;
  flex-shrink: 0;
  overflow: scroll;
}
.switchParent,
.top5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.switchParent {
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--paragraph-regular-size);
}
.top5 {
  position: absolute;
  top: 450px;
  left: 183px;
  width: 1075px;
  justify-content: space-between;
  font-size: var(--title-2-size);
}
.mask,
.under {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1482px;
}
.mask {
  background-color: var(--color-gray-100);
  backdrop-filter: blur(4px);
  height: 900px;
}
.stake2 {
  position: relative;
  background-color: var(--gray-22);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-1-size);
  color: var(--white);
  font-family: var(--paragraph-regular);
}
