.groupIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconicon2Coin {
  width: 78px;
  height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  position: absolute;
  top: calc(50% - 14px);
  left: 16px;
  line-height: 28px;
  font-weight: 600;
}
.tableCelladditionalComponen {
  position: relative;
  width: 172px;
  height: 48px;
  flex-shrink: 0;
}
.top {
  width: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.b,
.wethApr {
  position: relative;
  line-height: 36px;
}
.wethApr {
  font-size: var(--paragraph-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--paragraph-regular);
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b1 {
  position: relative;
  font-size: var(--headline-h4-size);
  line-height: 42px;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--headline-h5-size);
  font-family: var(--headline-h3);
}
.caption {
  position: relative;
  line-height: 18px;
}
.mbListItemitemLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconftr {
  position: relative;
  border-radius: var(--br-81xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mbListItemitemRight {
  justify-content: flex-end;
}
.mbListItemBasic,
.mbListItemitemRight,
.mbListItemitemRight1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mbListItemBasic {
  align-self: stretch;
  background-color: var(--transparent);
  padding: var(--padding-9xs) 0;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mbListItemitemRight1 {
  width: 49px;
  flex-shrink: 0;
  justify-content: flex-end;
  text-align: right;
  color: var(--white);
}
.icongift {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.mbListItemitemRight4 {
  width: 73px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: right;
  color: var(--white);
}
.mbListItemBasicParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--caption-small-12-16-regular-size);
  color: var(--gray-10);
}
.text {
  position: relative;
  line-height: 24px;
}
.btn {
  cursor: pointer;

  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-5);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.bottom,
.cardmining {
  display: flex;
  justify-content: flex-start;
}
.bottom {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--title-2-size);
}
.cardmining {
  border-radius: var(--br-5xl);
  background-color: var(--gray-20);
  box-shadow: 12px 24px 80px rgba(30, 30, 42, 0.08);
  width: 342px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--title-1-size);
  color: var(--white);
  font-family: var(--paragraph-regular);
}
